div {
    font-size: 15px;
    color: blue;
    background-color: green;
    text-align: center;
}

table {
    margin: auto;
    border: 3px solid black;
    border-collapse: collapse;
}

  
th{
    border: 1px solid black;
    padding: 8px;
}


td {
    border: 1px solid black;
    padding: 8px;
}
