
body {
    
    background-color: white;
    color: blue;
    text-align: center;
}


h1 {
    color: lightskyblue;
    background-color: white;
    padding: 10px;
}


nav {
    margin: 15px;
}

a {
    margin: 10px;
    padding: 5px 10px;
    background-color: lightgreen;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}



img {
    width: 200px;
    margin: 15px;
}



ul {
    background-color: white;
    padding: 15px;
    width: 200px;
    border: 2px solid lightblue;
    position: relative; left: 44%;
}
