



/* 1  */

.david1 {
    color: rgb(255, 255, 255);
    background-color: #2E8B57;
    width: 400px;
    border: 4px solid #FFD700;
    margin: 20px auto;
    text-align: center;
}

#david2 {
    color: #000000;
    background-color: rgb(173, 216, 230);
}

/* 2 */

#david3 {
    color: #FFFFFF;
    background-color: #8A2BE2;
    font-size: 30px;
    border: 3px solid #000000;
}

.david4 {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 182, 193);
    font-size: 20px;
    border: 5px dashed #FF0000;
}

/* 3 */

.david5 {
    background-color: #4682B4;
    padding: 20px;
    color: white;
}

.david6 {
    background-color: rgb(255, 255, 0);
    color: #000000;
    font-size: 22px;
}

/* 4 */

#david7 {
    background-color: #20B2AA;
    padding: 30px;
    border: 5px solid #000000;
}

.david8 {
    background-color: rgb(255, 228, 196);
    text-align: center;
    margin: 20px;
}

/* 5 */

.david9 {
    color: #FF0000;
}

.david11 {
    background-color: #008000;
    border: 3px solid #000000;
    padding: 10px;
}

#david10 {
    background-color: rgb(255, 165, 0);
    border: 5px dashed #FFFFFF;
}

/* 6 */

.david12 {
    color: #0000FF;
    background-color: #F0F8FF;
    padding: 20px;
}

#david13 {
    background-color: rgb(240, 230, 140);
}

.david14 {
    background-color: #7FFF00;
}

#david15 {
    background-color: #D3D3D3;
}

.david16 {
    background-color: #FFA07A;
}

/* 7 */

.david17 {
    color: #000080;
    padding: 20px;
}

.david19 {
    background-color: #AFEEEE;
    padding: 15px;
    margin-bottom: 15px;
}

#david18 {
    background-color: rgb(255, 228, 225);
}

.david21 {
    background-color: #98FB98;
    padding: 15px;
}

#david20 {
    background-color: rgb(255, 218, 185);
}
