
body {
    background-color: rgb(240, 240, 240);
    font-family: Arial, sans-serif;
    margin: 0;
}


h1 {
    color: rgb(0, 0, 120);
    text-align: center;
}

#main-title {
    background-color: rgb(180, 220, 255);
    padding: 15px;
}


.section-title {
    color: rgb(0, 100, 0);
}


.important {
    color: rgb(255, 140, 0);
    font-weight: bold;
}


#highlight {
    color: rgb(120, 0, 120);
    font-size: 18px;
}


nav {
    text-align: center;
    background-color: rgb(50, 50, 50);
    padding: 10px;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 10px;
}

nav a:hover {
    color: rgb(255, 200, 0);
}


footer {
    text-align: center;
    background-color: rgb(30, 30, 30);
    color: rgb(255, 255, 255);
    padding: 10px;
    margin-top: 20px;
}