/* 1 */
.blue {
    color: blue;
    font-size: 25px;
    background-color: red;
    border: 4px solid green;
}

.green {
    color: green;
    font-size: 45px;
    text-align: center;
    background-color: yellow;
    border: 7px solid purple;
}

.orange {
    color: orange;
    font-size: 14px;
    text-align: left;
    background-color: blue;
    border: 2px solid pink;
}

/* 2 */
#box {
    color: black;
}

#box h1, #box h2, #box h3 {
    background-color: lightgray;
    color: darkblue;
    border: 3px solid black;
    text-align: center;
}

/* 3 */
#h1 { color: red; }
#h2 { color: green; }
#h3 { color: blue; }
#h4 { color: purple; }
#h5 { color: orange; }
#h6 { color: pink; }

/* 4 */
.title {
    background-color: lightblue;
    color: black;
    text-align: center;
}

#p1 { color: red; }
#p2 { color: blue; }
#p3 { color: green; }
#p4 { color: purple; }
#p5 { color: orange; }
#p6 { color: brown; }
#p7 { color: gray; }
#p8 { color: pink; }
#p9 { color: navy; }
#p10 { color: teal; }

/* 5 */
#div1 {
    background-color: lightgreen;
    border: 3px solid black;
}

#div2 {
    background-color: lightcoral;
    border: 3px solid blue;
}

/* 6 */
.container {
    text-align: center;
}

.pink {
    color: pink;
    font-size: 30px;
    background-color: blue;
    border: 4px solid green;
}

button {
    padding: 10px;
}

.btn1 { background-color: red; }
.btn2 { background-color: yellow; }
.btn3 { background-color: green; }

/* 7 */
.p1 {
    font-size: 20px;
    color: red;
}

.first {
    background-color: yellow;
    border: 3px solid black;
}

/* 8 */
.para {
    color: blue;
}

#head1 { color: red; }
#head2 { color: green; }
#head3 { color: blue; }
#head4 { color: purple; }
#head5 { color: orange; }

/* 9 */
.hobby1 {
    color: blue;
    font-size: 20px;
}

.hobby2 {
    color: red;
    font-size: 25px;
}

