#p1 {
   color: red;
   font-size: 18px;
    }

#p2 {
    color: blue;
            background-color: lightgray;
    }

#p3 {
    color: green;
    font-style: italic;
    }

#p4 {
    color: purple;
    text-align: center;
    }

#p5 {
    color: orange;
    
    }
