*{
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

body {
  background-color: hsl(221, 100%, 96%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Hanken Grotesk', sans-serif;
}

.card {
  
  position: relative; top: 28vh;
  display: flex;
  border-radius: 25px;
  background: white;
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
  max-width: 25vw;
  height: 34vh;
}

/* LEFT */
.left {
  border-radius: 20px;
  width: 260px;
  padding: 40px 30px;
  text-align: center;
  color: white;
  background: linear-gradient(180deg, #7857ff, #2e2be9);
}

.title { opacity: 0.7; }

.circle {
  margin: 25px auto;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: linear-gradient(180deg, #4e21ca, transparent);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.score {
  font-size: 48px;
  font-weight: bold;
}

.of {
  font-size: 14px;
  opacity: 0.7;
}

.great {
  font-size: 22px;
  margin-top: 10px;
}

.desc {
  font-size: 14px;
  opacity: 0.8;
  margin: 12px;
}

/* RIGHT */
.right {
  width: 260px;
  padding: 60px;
  
}

.summary {
  font-weight: bold;
  margin-bottom: 10px;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border-radius: 10px;
  margin: 10px 0;
  font-size: 14px;
}

.red { background: #fff1f1; color: #ff5757; }
.yellow { background: #fff8e6; color: #ffb01f; }
.green { background: #e6fff9; color: #00bd91; }
.blue { background: #eef1ff; color: #1125d4; }

button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(180deg, #7857ff, #2e2be9);
  color: white;
  margin-top: 20px;
  cursor: pointer;
  outline: #2e2be9;
}
.score1{ color: black; font-size: 14px;}