.first_button {
    color: red;
    font-size: 40px;
    background-color: green;
    border: 3px solid purple;
}



.last_button {
    color: orange; 
    font-size: 20px;
    background-color: violet; 
    border: none;
}